<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/public/style/css/style.css">
    <title>Portifólio</title>
</head>
<body>
    <header>
        <h2>WebDeveloper</h2>

        <ul class="navBar">
            <li class="navitem"><a href="#sobre" class="navLink">Sobre</a></li>
            <li class="navitem"><a href="#projetos" class="navLink">Projetos</a></li>
            <li class="navitem"><a href="#Skills" class="navLink">Skills</a></li>
        </ul>
    </header>

    <main id="first">
       <section class="left">
        <h1>Olá, Sou o Matheus,</h1>
        <h1>Web Developer</h1>
   
       </section>
        <section class="right">
            <div class="circle">
                <img src="/style/src/matheusIcon.png" alt="mathIcon">
            </div>

            <button>Sobre mim</button>
        </section>
    </main>

    <main id="about">
        <div class="range">
            <section>
                <img src="/style/src/perf.jpg" alt="fotoPerfil">
            </section>

            <section>
                <h3>Sobre mim
                    <img src="/style/src/Icons/github.png" alt="gitHub">
                    <img src="/style/src/Icons/instagram.png" alt="instagram">
                    <img src="/style/src/Icons/linkedin.png" alt="linkedin">
                </h3>
                <p>
                    Me chamo Matheus Medeiros Clemente , e estou em busca da minha primeira vaga como desenvolvedor front-end <br><br>
                    Sempre tive uma paixão enorme por tecnologia e a programação está sendo minha ferramenta para demonstrar todo o amor que tenho por este segmento <br><br>
                    Pratico minhas <a href="#skills">skills</a> de front-end deste 2022 e agora estou cursando a faculdade de análise e desenvolvimento de sistemas. Estou focado no desenvolvimento Web como porta de entrada da minha carreira de developer, mas pretendo me aperfeiçoar e especializar no desenvolvimento back-end também
                </p>

            </section>
        </div>
    </main>

    <main id="projects">
        <h2>Meus Projetos</h2>
    <section class="cardArea">

        <div class="card">
            <img src="/style/src/noIMG.png" alt="no img">
            <div class="shortly">
                EM BREVE
            </div>
        </div>

        <div class="card">
            <img src="/style/src/noIMG.png" alt="no img">
            <div class="shortly">
                EM BREVE
            </div>
        </div>

        <div class="card">
            <img src="/style/src/noIMG.png" alt="no img">
            <div class="shortly">
                EM BREVE
            </div>
        </div>

        <div class="card">
            <img src="/style/src/noIMG.png" alt="no img">
            <div class="shortly">
                EM BREVE
            </div>
        </div>

        <div class="card">
            <img src="/style/src/noIMG.png" alt="no img">
            <div class="shortly">
                EM BREVE
            </div>
        </div>

    </section>
    </main>

    <main id="skills">
        <h2>Skills</h2>
        <div class="habilits">
          <div class="leftSide">
            <li>
              <h3>HTML</h3>
              <span class="bar"><span class="html"></span></span>
            </li>
  
            <li>
              <h3>CSS</h3>
              <span class="bar"><span class="css"></span></span>
            </li>
  
            <li>
              <h3>JavaScript</h3>
              <span class="bar"><span class="js"></span></span>
            </li>
  
            <li>
              <h3>Node.js/ EJS</h3>
              <span class="bar"><span class="node"></span></span>
            </li>
          </div>
  
          <div class="rightSide">
            <li>
              <h3>Python</h3>
              <span class="bar"><span class="python"></span></span>
            </li>
  
            <li>
              <h3>MySQL</h3>
              <span class="bar"><span class="sql"></span></span>
            </li>
  
            <li>
              <h3>Inglês</h3>
              <span class="bar"><span class="ingles"></span></span>
            </li>
          </div>
        </div>
    </main>

 
</body>
</html>