@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');


/*ANIMAÇÃO DAS SKILLS*/


.habilits {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
  }
  
  h2 {
    font-family: "Dela Gothic One", cursive;
    font-size: 35px;
    text-align: center;
    padding: 60px;
  }
  
  .leftSide,
  .rightSide {
    width: 500px;
    margin: 40px auto;
    color: #fff;
    padding: 20px;
  }
  h3 {
    font-size: 20px;
  }
  .leftSide li,
  .rightSide li {
    margin: 20px 0;
    padding: 10px;
  }
  
  .bar {
    background: #fff;
    display: block;
    height: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8.25, 1);
  }
  
  .bar:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  
  .bar span {
    height: 20px;
    float: left;
    background: #ffe600;
  }
  
  .html {
    width: 95%;
    animation: html 3s;
  }
  
  @keyframes html {
    0% {
      width: 0%;
    }
    100% {
      width: 95%;
    }
  }
  .css {
    width: 87%;
    animation: css 3s;
  }
  
  @keyframes css {
    0% {
      width: 0%;
    }
    100% {
      width: 87%;
    }
  }
  .js {
    width: 50%;
    animation: js 3s;
  }
  
  @keyframes js {
    0% {
      width: 0%;
    }
    100% {
      width: 50%;
    }
  }
  .node {
    width: 20%;
    animation: node 3s;
  }
  
  @keyframes node {
    0% {
      width: 0%;
    }
    100% {
      width: 20%;
    }
  }
  .python {
    width: 50%;
    animation: python 3s;
  }
  
  @keyframes python {
    0% {
      width: 0%;
    }
    100% {
      width: 50%;
    }
  }
  
  .sql {
    width: 40%;
    animation: sql 3s;
  }
  
  @keyframes sql {
    0% {
      width: 0%;
    }
    100% {
      width: 40%;
    }
  }
  .ingles {
    width: 80%;
    animation: ingles 3s;
  }
  
  @keyframes ingles {
    0% {
      width: 0%;
    }
    100% {
      width: 80%;
    }
  }
  